<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	>
	<testsuites>
		<testsuite name="WP Reading Time 2020 test suite">
			<directory suffix=".test.php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
